# System Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-error.log
.expo/
web-build/
dist/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/

# Videos and Media
*.mp4
*.mov
*.avi
*.mkv
*.webm
